.card-text {
  height: 80px;
  overflow-y: hidden;
}

.card-text::after {
  content: "...Read more";
  color: blue;
  text-decoration: underline;
}

.shorten-text {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
